$minor-margin: 8px;

.button-collapse,
.brand-logo {
    margin-left: 16px;
    margin-right: 16px;
}

main .btn {
    margin-top: $minor-margin;
    margin-bottom: $minor-margin;
}

main .avatar-large  {
    margin-top: $minor-margin;
    margin-bottom: $minor-margin;
    max-width: 120px;
}
