<template name="profile">
  <div class="row">
    <div class="input-field col s6">
        {{#if profile.firstname}}
            <input id="first_name" pattern=".{2,}" required type="text" name="firstname" value={{profile.firstname}} class="validate">
            <label for="first_name" class="active">First Name</label>
        {{else}}
            <input id="first_name" pattern=".{2,}" required type="text" name="firstname" class="validate">
            <label for="first_name">First Name</label>
        {{/if}}
    </div>
    <div class="input-field col s6">
        {{#if profile.lastname}}
            <input id="last_name" pattern=".{2,}" required type="text" name="lastname" value={{profile.lastname}} class="validate">
            <label for="last_name" class="active">Last Name</label>
        {{else}}
            <input id="last_name" pattern=".{2,}" required type="text" name="lastname" class="validate">
            <label for="last_name">Last Name</label>
        {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input disabled id="email" type="email" value={{profile.email}} name="email" class="validate">
      <label for="email" class="active">Email</label>
    </div>
  </div>
</template>
